body {
  background-color: #181818;
  color: #00e472;
  letter-spacing: 0.2em;
  font-size: 0.8em;
}
input {
  background-color: #212121 !important;
  border: 1px solid #00e47277 !important;
  color: #00e472 !important;
  font-size: 1.2rem !important;
}
.card {
  background-color: #212121;
}
.container {
  max-width: 500px;
}
.icon img {
  background-color: #00e472;
  border-radius: 50%;
  margin-top: -3rem;
  margin-bottom: 1rem;
}
